body{
    background-color: rgb(231, 231, 231);
}

header{
    height: 75px;
    background-color: rgb(63, 63, 153);
    color: white;
    border-bottom: rgb(231, 231, 231) 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    font-weight: bold;
}

#centerContainer{
    display: flex;
    height: 100%;
}

#centerContainer>aside{
    width: 15%;
    background-color:  rgb(63, 63, 153);
}

#centerContainer>section{
    width: 85%;
    
}

#headerContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

#listContainer{
    height: 100%;
    color: white;
    font-size: 1.2em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

#listContainer>a{
    width: 100%;
    height: 70px;
    background-color:  rgb(63, 63, 153);
    border-bottom: rgb(231, 231, 231) 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
}

#listContainer>a:hover{
    width: 115%;
}

a:link, a:visited, a:active{
    text-decoration:none;
    color: white;
}

#informationContainer{
    width: 70%;
    margin: auto;
}

.recordsHeader{
    font-weight: bold;
    font-size: 1.4em;
    color: rgb(75, 75, 75);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.recordsContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: rgb(182, 182, 182) 1px solid;
    padding: 0 5%;
}

.recordsContainer:nth-child(even){
    background-color: rgb(221, 221, 221);
}

.records{
    padding: 3% 0;
    font-size: 1.1em;
    display: flex;
    align-items: center;
    width: 100%;
}

.recordIconsContainer{
    display: flex;
}

.recordsId{
    width: 10%;
}

.recordsPrice{
    text-align: center;
}

.recordsIcons{
    width: 15px;
    padding: 6px;
    border-radius: 5px;
    box-shadow: rgb(133, 133, 133) 0px 0px 5px 1px;
    margin: 0 10%;
}

.recordsCenterContainer{
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.editIcon{
    background-color: rgb(0, 211, 0);
    border: green 1px solid;
}

.editIcon:hover{
    background-color: rgb(0, 179, 0);
    cursor: pointer;
}

.deleteIcon{
    background-color: red;
    border: rgb(161, 0, 0) 1px solid;
}

.deleteIcon:hover{
    background-color: rgb(199, 0, 0);
    cursor: pointer;
}

.eventImg{
    width: 500px;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: blue;
}

.eventsContainer{
    margin: 10% auto;
    width: fit-content;
    display: flex;
    flex-direction: column;
}

.eventButton{
    align-self: flex-end;
    margin-bottom: 5%;
    width: 140px;
    height: 50px;
    background-color: rgb(0, 206, 0);
    box-shadow: black 0px 0px 3px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1em;
}

.eventButton:hover{
    background-color: rgb(0, 167, 0);
}

.categories{
    font-size: 2em;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    border-top: 2px rgb(15, 0, 148) solid;
    border-bottom: 2px rgb(15, 0, 148) solid;
    background-color: rgb(124, 147, 252);
    padding: 2% 5%;
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addPlateButton{
    width: 120px;
    height: 50px;
    background-color:rgb(0, 206, 0);
    box-shadow: black 0px 0px 3px;
    font-weight: bold;
    font-size: 0.6em;
}

.addPlateButton:hover{
    background-color:rgb(0, 167, 0);
}