/*HEADER*/
header{
    height: 200px;
    background-image: url("/mesonmontesdetoledo.com/public/images/header1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    position: relative;
}

header>img{
    position: absolute;
}

header>div{
    width: 250px;
    text-align: right;
    margin-left: 10%;
    padding-top: 60px;
}

header h1{
    font-size: 1.5em;
    margin: 0;
}

header>div>p{
    margin: 0;
}

#bookings{
    font-size: 0.7em;
    margin-top: 25%;
}

#icono2Header{
    position: absolute;
    height: 15%;
    bottom: 7%;
    right: 3%;
}



/*SECTION*/
section{
    background-image: url("/mesonmontesdetoledo.com/public/images/fondo.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sectionBackgroundAlternative{
    background-image: url("/mesonmontesdetoledo.com/public/images/fondo2.jpg")
}

.sectionTitle{
    margin: 8% 0;
    background-color: rgba(219, 199, 164, 0.8);
    border-top: rgb(191, 168, 128) 1px solid;
    border-bottom: rgb(191, 168, 128) 1px solid;
}

.sectionTitle>h2{
    padding: 5% 7%;  
}

.centerContainer{
    width: 90%;
    margin: auto;
}



/*MENU*/
nav{
    height: 40px;
    background-color: rgba(255 , 255, 255, 0.5);
    display: flex;
    align-items: center;
}

.menuIcon{
    height: 50%;
    margin-left: 10%;
}



/*FOOTER*/
footer{
    background-color:#31303D;
    color: white;
    text-align: center;
    box-shadow: black 0px -1px 5px 1px;
}

footer>p{
    font-size: 0.5em;
    width: 90%;
    margin: auto;
    padding: 1% 0;
}

footer>p:first-child{
    border-bottom: grey 2px solid;
}