.menuCategory{
    display: flex;
}

.menuCategoryIcon{
    width: 15px;
    height: 15px;
    padding-right: 2%;
}

.scheduleDescriptionContainer{
    border: none;
    font-weight: initial;
    font-size: 1em;
    padding: 2% 0 0 7%;
}

.categoryName{
    font-weight: bold;
    font-size: 1.2em;
}

.season{
    padding-bottom: 10%;
}

.seasonTitle{
    padding-bottom: 3%;
}

.scheduleParagraph{
    padding-bottom: 4%;
}