section{
    background-image: none;
    background-color: rgb(240, 240, 240);
}

section p{
    font-weight: bold;
    color: rgb(235, 235, 235);
    font-family: 'Lobster Two', cursive;
    color: rgb(126, 0, 0);
}

.sectionContainer{
    display: flex;
    padding: 15% 5%;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url("/mesonmontesdetoledo.com/public/images/plato.png");
    background-size: 40%;
    background-repeat: no-repeat;
}

#sectionContainer1{
    padding: 5% 5% 15% 5%;
    background-position: left bottom -1px;
}

#sectionContainer2{
    background-image: url("/mesonmontesdetoledo.com/public/images/filete.png");
    background-position: right bottom 0px;
    background-size: 50%;
}

#sectionContainer3{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10% 0;
    background-image: url("/mesonmontesdetoledo.com/public/images/encina.png");
    background-position: center bottom 0px;
    background-size: 100%;
}

.paragraphSectionContainer{
    width: 50%;
}

.paragraphSectionContainer>p{
    text-shadow: white 1px 1px 2px;
}

.paragraphSectionContainer:first-child{
    padding-right: 10%;
}

.paragraphSectionContainer:last-child{
    padding-left: 10%;
}

.paragraphSectionContainer a:link, .paragraphSectionContainer a:visited, .paragraphSectionContainer a:active{
    text-decoration: none;
}

.paragraphSectionContainer2{
    width: 50%;
    margin-bottom: 5%;
}

.paragraphSectionContainer2>p{
    text-shadow: white 1px 1px 2px;
}

.paragraphSectionContainer2 a:link, .paragraphSectionContainer2 a:visited, .paragraphSectionContainer2 a:active{
    text-decoration: none;
}

.paragraphSectionA{
    padding: 4% 3%;
    width: 75%;
    margin: 10% auto 0 auto;
    background-color: rgb(126, 0, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 0.8em;
    color: white;
    transition: ease-in-out 0.3s;
}

.paragraphSectionContainer2 .paragraphSectionA{
    width: 50%;
    padding: 2% 0%;
}

.paragraphSectionA:hover{
    background-color: rgb(153, 0, 0);
}

.opinions{
    background-color: rgba(33, 28, 45, 0.8);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.opinions p{
    color: white;
}

.opinions>img{
    padding: 3%;
    width: 8%;
}

.commentsContainer>p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.4vw;
    font-weight: normal;
    font-style: italic;
    padding: 1% 0;
}

.commentsContainer>img{
    width: 70px;
}

.gallery{
    width: 50%;
    box-shadow: black 0px 0px 5px;
}

.gallery3img{
    width: 60%;
    box-shadow: black 0px 0px 5px;
}

.zIndexFront{
    position: relative;
    top: -40px;
}

#eventImgContainer{
    width: 90%;
    margin: 5% auto;
}

#eventImg{
    width: 100%;
    box-shadow: black 0px 0px 10px;
    border-radius: 10px;
}


/*MEDIAS QUERIES*/

@media (min-width: 600px) {
    .sectionContainer>p{
        padding: 0;
    }

    #sectionContainer3{
        background-position: center bottom;
    }

    .paragraphSectionContainer{
        font-size: 2.3em;
        position: relative;
        background-image: url("/mesonmontesdetoledo.com/public/images/fondoParticulas.png");
        background-position: center center;
        background-size: cover;
        padding: 5%;
        width: 30%;
        border-top: rgb(126, 0, 0) 7px solid;
        border-bottom: rgb(126, 0, 0) 7px solid;
    }

    .paragraphSectionContainer2{
        position: relative;
        font-size: 2.5em;
        border-top: rgb(126, 0, 0) 7px solid;
        border-bottom: rgb(126, 0, 0) 7px solid;
        margin-bottom: 0;
        padding: 5% 0;
        top: 100px;
        background-image: url("/mesonmontesdetoledo.com/public/images/fondoParticulas.png");
        background-position: center center;
        background-size: cover;
    }

    .paragraphSectionContainer:first-child{
        left: 4%;
        padding: 5%;
    }

    .paragraphSectionContainer:last-child{
        right: 4%;
        padding: 5%;
    }

    .paragraphSectionA{
        font-size: 0.6em;
        width: 50%;
        background-color: initial;
        border: rgb(126, 0, 0) 4px solid;
        color: black;
    }

    .paragraphSectionA:hover{
        font-size: 0.6em;
        width: 50%;
        background-color: rgb(126, 0, 0);
        border: rgb(126, 0, 0) 4px solid;
        color: white;
    }

    .commentsContainer>img{
        width: 150px;
    }

    .commentsContainer>p{
        font-size: 1.7em;
    }

    .opinions{
        box-shadow: black 0px 0px 10px;
    }

    .opinions>img{
        width: 5%;
        padding: 2%;
    }
}