section p{
    font-weight: bold;
    color: white;
    text-shadow: black 1px 1px 2px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.opinions{
    height: 50px;
    background-color: rgba(33, 28, 45, 0.8);
}

.gallery{
    display: grid;
    grid-gap: 0.5em;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 30% 30% 30%;
    width: 50%;
}

.imgGallery{
    height: 100%;
    width: 100%;
    border: white 1px solid;
}

#imgGalleryCenterTop{
    position: relative;
    top: -10%;
}

#imgGalleryCenterLeft{
    position: relative;
    left: -10%;
}

#imgGalleryCenterRight{
    position: relative;
    right: -10%;
}

#imgGalleryCenterBottom{
    position: relative;
    bottom: -10%;
}

#gallery2img{
    box-shadow: black 2px 2px 3px;
}

#gallery3{
    width: 100%;
    margin-top: 5%;
    position: relative;
}

.gallery3img{
    width: 40%;
    border: white 1px solid;
}

.zIndexFront{
    position: relative;
    top: -40px;
}

#gallery3Container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sectionContainer{
    width: 90%;
    display: flex;
    margin: auto;
    padding: 10% 0;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.sectionContainer2{
    width: 90%;
    margin: auto;
    padding: 10% 0;
    text-align: center;
}

.paragraphSectionContainer:first-child{
    width: 50%;
    padding-right: 10%;
}

.paragraphSectionContainer:last-child{
    width: 50%;
    padding-left: 10%;
}


/*MEDIAS QUERIES*/
@media (min-width: 550px) {
    .paragraphSectionContainer{
        font-size: 1.1em;
    }

    #paragraphSectionContainer3{
        font-size: 1.1em;
    }
}

@media (min-width: 650px) {
    .paragraphSectionContainer{
        font-size: 1.2em;
    }

    #paragraphSectionContainer3{
        font-size: 1.2em;
    }
}

@media (min-width: 750px) {
    .paragraphSectionContainer{
        font-size: 1.3em;
    }

    #paragraphSectionContainer3{
        font-size: 1.3em;
    }
}

@media (min-width: 850px) {
    .paragraphSectionContainer{
        font-size: 1.4em;
    }

    #paragraphSectionContainer3{
        font-size: 1.4em;
    }
}

@media (min-width: 950px) {
    .paragraphSectionContainer{
        font-size: 1.5em;
    }

    #paragraphSectionContainer3{
        font-size: 1.5em;
    }
}

@media (min-width: 1150px) {
    .paragraphSectionContainer{
        font-size: 1.6em;
    }

    #paragraphSectionContainer3{
        font-size: 1.6em;
    }
}