section{
    background-image: none;
    background-color: rgb(240, 240, 240);
}

section p{
    font-weight: bold;
    color: rgb(235, 235, 235);
    font-family: 'Lobster Two', cursive;
    color: rgb(126, 0, 0);
}

.sectionContainer{
    display: flex;
    padding: 15% 5%;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url("/mesonmontesdetoledo.com/public/images/plato.png");
    background-size: 40%;
    background-repeat: no-repeat;
}

#sectionContainer1{
    padding: 5% 5% 15% 5%;
    background-position: left bottom -1px;
}

#sectionContainer2{
    background-image: url("/mesonmontesdetoledo.com/public/images/filete.png");
    background-position: right bottom 0px;
    background-size: 50%;
}

#sectionContainer3{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10% 0;
    background-image: url("/mesonmontesdetoledo.com/public/images/encina.png");
    background-position: center bottom 0px;
    background-size: 100%;
}

.paragraphSectionContainer{
    width: 50%;
}

.paragraphSectionContainer>p{
    text-shadow: white 1px 1px 2px;
}

.paragraphSectionContainer:first-child{
    padding-right: 10%;
}

.paragraphSectionContainer:last-child{
    padding-left: 10%;
}

.paragraphSectionContainer a:link, .paragraphSectionContainer a:visited, .paragraphSectionContainer a:active{
    text-decoration: none;
}

.paragraphSectionContainer2{
    width: 40%;
    margin-bottom: 5%;
}

.paragraphSectionContainer2>p{
    text-shadow: white 1px 1px 2px;
}

.paragraphSectionContainer2 a:link, .paragraphSectionContainer2 a:visited, .paragraphSectionContainer2 a:active{
    text-decoration: none;
}

.paragraphSectionA{
    padding: 4% 3%;
    width: 75%;
    margin: 10% auto 0 auto;
    background-color: rgb(126, 0, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 0.8em;
    color: white;
    transition: ease-in-out 0.3s;
}

.paragraphSectionContainer2 .paragraphSectionA{
    width: 50%;
    padding: 2% 0%;
}

.paragraphSectionA:hover{
    background-color: rgb(153, 0, 0);
}



.opinions{
    background-color: rgba(33, 28, 45, 0.8);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.opinions p{
    color: white;
}

.opinions>img{
    padding: 3%;
    width: 8%;
}

.commentsContainer>p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.4vw;
    font-weight: normal;
    font-style: italic;
    padding: 1% 0;
}

.commentsContainer>img{
    width: 70px;
}

.gallery{
    width: 65%;
    height: 120px;
    box-shadow: black 0px 0px 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gallery img{
    width: 20px;
    padding: 5%;
    cursor: pointer;
    z-index: 1000000;
}

#gallery1img{
    background-image: url("/mesonmontesdetoledo.com/public/images/gallery/fachada1");
}

#gallery2img{
    background-image: url("/mesonmontesdetoledo.com/public/images/gallery/chuleton.jpg");
}

#gallery3img{
    background-image: url("/mesonmontesdetoledo.com/public/images/gallery/rutaLasTorres.jpg");
}

.radioGallery1{
    background-color: black;
}

#sliderContainer1{
    width: 70%;
}

.gallery3img{
    width: 60%;
    box-shadow: black 0px 0px 5px;
}

.zIndexFront{
    position: relative;
    top: -40px;
}

#eventImgContainer{
    width: 80%;
    margin: 5% auto;
    padding: 5%;
    padding-bottom: 10%;
    border-bottom: rgba(33, 28, 45, 0.8) 3px solid;
}

#eventImg{
    width: 100%;
    box-shadow: black 0px 0px 10px;
    border-radius: 10px;
}


/*MEDIAS QUERIES*/

@media (min-width: 600px) {
    #eventImgContainer{
        width: 60%;
    }
    
    .sectionContainer>p{
        padding: 0;
    }

    #sectionContainer3{
        background-position: center bottom;
    }

    .gallery{
        width: 50%;
        height: 300px;
    }

    .gallery img{
        width: 50px;
        padding: 7%;
    }

    .paragraphSectionContainer{
        font-size: 1.7em;
        position: relative;
        background-color: rgb(253, 247, 235);
        background-position: center center;
        background-size: cover;
        padding: 5%;
        width: 30%;
        border: rgb(126, 0, 0) 7px solid;
    }

    .paragraphSectionContainer2{
        position: relative;
        font-size: 2em;
        border: rgb(126, 0, 0) 7px solid;
        margin-bottom: 0;
        padding: 3% 0;
        top: 100px;
        background-color: rgb(253, 247, 235);
        background-position: center center;
        background-size: cover;
    }

    .paragraphSectionContainer2>p{
        width: 70%;
        margin: auto;
    }

    .paragraphSectionContainer:first-child{
        left: 4%;
        padding: 5%;
    }

    .paragraphSectionContainer:last-child{
        right: 4%;
        padding: 5%;
    }

    .paragraphSectionA{
        font-size: 0.6em;
        width: 50%;
        background-color: initial;
        border: rgb(126, 0, 0) 4px solid;
        color: black;
    }

    .paragraphSectionA:hover{
        font-size: 0.6em;
        width: 50%;
        background-color: rgb(126, 0, 0);
        border: rgb(126, 0, 0) 4px solid;
        color: white;
    }

    .commentsContainer>img{
        width: 100px;
    }

    .commentsContainer>p{
        font-size: 1em;
    }

    .opinions{
        box-shadow: black 0px 0px 10px;
    }

    .opinions>img{
        width: 50px;
        padding: 2%;
    }
}


@media (min-width: 920px) {

    .gallery{
        height: 600px;
    }

    .paragraphSectionContainer, .paragraphSectionContainer2{
        font-size: 2.5em;
    }

    .commentsContainer>p{
        font-size: 1.5em;
    }

    .opinions{
        padding-left: 4%;
    }

    .gallery img{
        width: 70px;
        padding: 10%;
    }

}