#sectionTerraza{
    background-image: url("/mesonmontesdetoledo.com/public/images/fondoTerraza.jpg");
}

#terrazaSectionTitle{
    background-color: rgba(36, 36, 36, 0.8);
    border-top: rgb(80, 80, 80) 1px solid;
    border-bottom: rgb(80, 80, 80) 1px solid;
    color: white;
}

.terrazaParagraph{
    color: white;
    text-align: center;
    padding: 10% 0;
    font-family: 'Lobster Two', cursive;
    font-size: 1em;
}

.terrazaImages{
    width: 100%;
    border: rgb(39, 37, 65) 1px solid;
}



/*MEDIAS QUERIES*/

@media (min-width: 600px) {

    .centerContainer{
        width: 60%;
    }

    .terrazaParagraph{
        font-size: 1.7em;
    }

}