.addPlateButton{
    padding: 10px 20px;
    font-size: 0.9em;
    background-color: rgb(0, 228, 0);
    border: green 1px solid;
    box-shadow: grey 0px 0px 5px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

.addPlateButton:hover{
    background-color: rgb(0, 255, 0);
}

table{
    margin: 0 auto;
}

.categoryTitleContainer{
    background-color: rgb(32, 32, 92) !important;
    color: white;
    font-size: 1.8em;
    font-weight: bold;
    width: 70%;
    margin: 5% auto 0 auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.categories{
    padding: 5% 7%;
    text-align: left;
}

.recordsNameTitle{
    font-weight: bold;
    color: blue;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

#noChangePosition, #lastPlace{
    background-color: rgb(255, 235, 119);
}

#noChangePosition{
    display: none;
}



/*MEDIAS QUERIES*/
@media (max-width: 720px) {
    .categoryTitleContainer{
        width: 100%;
    }
}